@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}
/* Sidebar Styling */
.sidebar {
    /* flex: 1 1 250px;
    min-width: 200px; */
    width: 16rem; /* w-64 */
    height: 100vh; /* Ensure full height */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; /* Ensure it extends to the bottom */
    border-right: 1px solid #ddd;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#ftco-loader {
    position: fixed; /* Sticks to the viewport */
    top: 50%;
    left: 50%;
}

.circular {
    animation: rotate 2s linear infinite;
}

.path {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -125px;
    }
}

/* Sidebar Header */
.sidebar-header {
    border-bottom: 1px solid #ddd; /* border-b */
    padding: 1rem; /* p-4 */
    font-size: 1.25rem; /* text-lg */
    font-weight: bold;
}

/* Sidebar Navigation */
.sidebar-nav {
    padding: 0.5rem; /* p-2 */
}

/* Sidebar Items */
.sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* gap-2 */
    padding: 0.5rem; /* p-2 */
    border-radius: 0.25rem; /* rounded */
    text-decoration: none;
    color: #333;
}

.sidebar-item:hover {
    background-color: #f3f3f3; /* hover:bg-gray-200 */
}

/* Sidebar Toggler */
.sidebar-footer {
    border-top: 1px solid #ddd; /* border-t */
    padding: 1rem; /* p-4 */
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 1.5rem; /* p-6 */
    margin-left: 16rem; /* ml-64 */
}
/*
.fairwheels-logo {
    font-size: 32px;
}

.fair {
    color: #ffffff;
}

.wheels {
    color: #ffffff;
    font-weight: 700;
} */
/* .scrollToTopButton {
    position: "fixed";
    bottom: "20px";
    right: "20px";
    background: "#fff";
    color: "grey";
    border: "none";
    padding: "3px 12px";
    border-radius: "50%";
    cursor: "pointer";
    font-size: "21px";
    z-index: 1000;
    box-shadow: "0 2px 8px rgba(0, 0, 0, 0.2)";
} */

.active {
    background-color: #01d28e;
    color: white;
    font-weight: bold;
}
